trigger:
- develop

variables:
- group: OBS Pipeline
- name: vmUsername1
  value: $[variables.vmUsername]
- name: vmIp1
  value: $[variables.vmIp]
- name: feVmIp1
  value: $[variables.feVmIp]

pool:
    vmImage: 'ubuntu-latest'
stages:
- stage: Build
  jobs:
  - job: Build
    displayName: 'Build Docker Images'
    steps:
    - task: DownloadSecureFile@1
      name: sshKey
      displayName: 'Get private key'
      inputs:
        secureFile: 'azk4y.pem'
    - script: |
        sudo chmod 400 $(sshKey.secureFilePath)
        ssh -o StrictHostKeyChecking=no -i $(sshKey.secureFilePath) $(vmUsername1)@$(vmIp1) "
        sudo docker start 30fb216fa855 &&
        cd online-book-shop-aws && 
        git pull origin develop && 
        cd .. &&
        sudo docker compose -f online-book-shop-aws/testDc.yml build --no-cache &&
        exit
        "
        ssh -o StrictHostKeyChecking=no -i $(sshKey.secureFilePath) $(vmUsername1)@$(feVmIp1) "
        cd online-book-shop-aws && 
        git pull origin develop && 
        cd .. &&
        sudo docker compose -f online-book-shop-aws/docker-compose.yml build --no-cache &&
        exit
        "

- stage: Deploy
  jobs:
  - job: Deploy
    displayName: 'Deploy Application'
    steps:
    - task: DownloadSecureFile@1
      name: sshKey
      displayName: 'Get private key'
      inputs:
        secureFile: 'azk4y.pem'
    - script: |
        sudo chmod 400 $(sshKey.secureFilePath)
        ssh -o StrictHostKeyChecking=no -i $(sshKey.secureFilePath) $(vmUsername1)@$(vmIp1) "
        sudo docker start 30fb216fa855 &&
        sudo docker compose -f online-book-shop-aws/testDc.yml down &&
        exit
        "
        ssh -o StrictHostKeyChecking=no -i $(sshKey.secureFilePath) $(vmUsername1)@$(feVmIp1) "
        sudo docker compose -f online-book-shop-aws/docker-compose.yml down &&
        exit
        "
        ssh -o StrictHostKeyChecking=no -i $(sshKey.secureFilePath) $(vmUsername1)@$(vmIp1) "
        sudo docker compose -f online-book-shop-aws/testDc.yml up --force-recreate -d &&
        exit
        "
        ssh -o StrictHostKeyChecking=no -i $(sshKey.secureFilePath) $(vmUsername1)@$(feVmIp1) "
        sudo docker compose -f online-book-shop-aws/docker-compose.yml up --force-recreate -d &&
        exit
        "