USE master;  
GO

IF DB_ID (N'website') IS NOT NULL  
    DROP DATABASE website;  
GO

CREATE DATABASE website  
    COLLATE Vietnamese_100_CI_AS_KS_WS_SC_UTF8;  
GO  
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [website].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [website]
GO
/****** Object:  Table [dbo].[author]    Script Date: 2023/9/28 10:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[author](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[company] [varchar](255) NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[author_book]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[author_book](
	[book_id] [bigint] NOT NULL,
	[author_id] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[isbn] [varchar](255) NULL,
	[cover] [varchar](255) NULL,
	[description] [varchar](max) NULL,
	[discount] [real] NULL,
	[page] [int] NULL,
	[price] [bigint] NULL,
	[publication_date] [date] NULL,
	[size] [varchar](255) NULL,
	[sold] [int] NULL,
	[stock] [int] NULL,
	[title] [varchar](255) NULL,
	[weight] [int] NULL,
	[category_id] [bigint] NULL,
	[language_id] [bigint] NULL,
	[publisher_id] [bigint] NULL,
	[state] [varchar] (255),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_category]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_collection]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_collection](
	[book_id] [bigint] NOT NULL,
	[collection_id] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[collection]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[collection](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[is_display] [bit] NULL,
	[name] [varchar](255) NULL,
	[type] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[comment] [varchar](max) NULL,
	[created_at] [datetime2](6) NULL,
	[book_id] [bigint] NULL,
	[user_id] [bigint] NULL,
	[state] [varchar] (255),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[link] [varchar](255) NULL,
	[book_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[language]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[language](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [varchar](255) NULL,
	[customer_note] [varchar](max) NULL,
	[email] [varchar](255) NULL,
	[payment_state] [varchar](255) NULL,
	[shipping_price] [varchar](255) NULL,
	[shipping_state] [varchar](255) NULL,
	[shop_note] [varchar](max) NULL,
	[time] [datetime2](6) NULL,
	[total_price] [bigint] NULL,
	[user_id] [bigint] NULL,
	[order_state] [varchar](255) NULL,
	[province] [varchar](255) NULL,
	[created] [datetime2](6) NULL,
	[district] [varchar](255) NULL,
	[ward] [varchar](255) NULL,
	[full_name] [varchar](255) NULL,
	[state] [varchar](255),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [int] NOT NULL,
	[book_id] [bigint] NULL,
	[order_id] [bigint] NULL,
	[original_price] [int] NOT NULL,
	[sale_price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[brief] [varchar](255) NULL,
	[content] [varchar](max) NULL,
	[created_at] [datetime2](6) NULL,
	[thumbnail] [varchar](255) NULL,
	[title] [varchar](255) NULL,
	[category_id] [bigint] NULL,
	[user_id] [bigint] NULL,
	[state] [varchar] (255),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_category]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publisher]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publisher](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[website] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rating]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rating](
	[book_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[id] [bigint] NOT NULL,
	[value] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[slider]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slider](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[back_link] [varchar](255) NULL,
	[description] [varchar](max) NULL,
	[image_url] [varchar](255) NULL,
	[title] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[full_name] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[state] [varchar](255) NULL,
	[province] [varchar](255) NULL,
	[district] [varchar](255) NULL,
	[ward] [varchar](255) NULL,
	[role] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlist]    Script Date: 2023/9/28 10:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[book_id] [bigint] NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[author] ON 

INSERT [dbo].[author] ([id], [company], [name]) VALUES (1, NULL, N'Gege Akutami')
INSERT [dbo].[author] ([id], [company], [name]) VALUES (2, NULL, N'Mizuho Kusana')
INSERT [dbo].[author] ([id], [company], [name]) VALUES (3, NULL, N'Negi Haruba')
SET IDENTITY_INSERT [dbo].[author] OFF
GO
INSERT [dbo].[author_book] ([book_id], [author_id]) VALUES (1, 1)
INSERT [dbo].[author_book] ([book_id], [author_id]) VALUES (2, 2)
INSERT [dbo].[author_book] ([book_id], [author_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[book] ON 

INSERT [dbo].[book] ([id], [isbn], [cover], [description], [discount], [page], [price], [publication_date], [size], [sold], [stock], [title], [weight], [category_id], [language_id], [publisher_id], [state]) VALUES (1, N'978-604-2-33155-5', N'Bìa mềm', NULL, 0.1, 200, 27000, CAST(N'2021-09-11' AS Date), N'11.3x17.6 cm', 1, 1, N'Chú Thuật Hồi Chiến - Tập 17 - Bản giới hạn', 140, 1, 1, 1, 'ACTIVE')
INSERT [dbo].[book] ([id], [isbn], [cover], [description], [discount], [page], [price], [publication_date], [size], [sold], [stock], [title], [weight], [category_id], [language_id], [publisher_id], [state]) VALUES (2, N'978-604-2-28453-0', N'Bìa mềm', NULL, 0.2, 176, 25000, CAST(N'2021-08-15' AS Date), N'11.3x17.6 cm', 5, 5, N'Yona - Công chúa bình minh - Tập 33 (Tặng Kèm Postcard)', 150, 1, 1, 1, 'ACTIVE')
INSERT [dbo].[book] ([id], [isbn], [cover], [description], [discount], [page], [price], [publication_date], [size], [sold], [stock], [title], [weight], [category_id], [language_id], [publisher_id], [state]) VALUES (3, N'978-604-2-23706-2', N'Bìa mềm', NULL, 0.1, 192, 25000, CAST(N'2022-01-01' AS Date), N'11.3x17.6 cm', 5, 6, N'Nhà có 5 nàng dâu - Tập 10 (Tặng kèm Postcard) (2022)', 192, 1, 1, 1, 'ACTIVE')
SET IDENTITY_INSERT [dbo].[book] OFF
GO
SET IDENTITY_INSERT [dbo].[book_category] ON 

INSERT [dbo].[book_category] ([id], [name]) VALUES (1, N'Manga - Comic')
INSERT [dbo].[book_category] ([id], [name]) VALUES (2, N'Truyện tranh')
INSERT [dbo].[book_category] ([id], [name]) VALUES (3, N'Kiến thức - Khoa học')
SET IDENTITY_INSERT [dbo].[book_category] OFF
GO
INSERT [dbo].[book_collection] ([book_id], [collection_id]) VALUES (4, 1)
INSERT [dbo].[book_collection] ([book_id], [collection_id]) VALUES (4, 2)
INSERT [dbo].[book_collection] ([book_id], [collection_id]) VALUES (1, 14)
GO
SET IDENTITY_INSERT [dbo].[collection] ON 

INSERT [dbo].[collection] ([id], [is_display], [name], [type]) VALUES (1, 1, N'LỊCH SỬ, TRUYỀN THỐNG', N'THỂ LOẠI')
INSERT [dbo].[collection] ([id], [is_display], [name], [type]) VALUES (2, 1, N'VĂN HỌC VIỆT NAM', N'THỂ LOẠI')
INSERT [dbo].[collection] ([id], [is_display], [name], [type]) VALUES (3, 1, N'VĂN HỌC NƯỚC NGOÀI', N'THỂ LOẠI')
SET IDENTITY_INSERT [dbo].[collection] OFF
GO
SET IDENTITY_INSERT [dbo].[image] ON 

INSERT [dbo].[image] ([id], [description], [link], [book_id]) VALUES (1, N'Cover Image', N'https://product.hstatic.net/200000343865/product/17_3216c448936a49568a22dd2d39d1f8ce_master.jpg', 1)
INSERT [dbo].[image] ([id], [description], [link], [book_id]) VALUES (2, N'Cover Image', N'https://product.hstatic.net/200000343865/product/33_c41b6baaa61d479f9846d9f65d09e717_master.jpg', 2)
INSERT [dbo].[image] ([id], [description], [link], [book_id]) VALUES (3, N'Cover Image', N'https://product.hstatic.net/200000343865/product/10_91fe0deab50448f28e4b30fe98ca71e1_master.jpg', 3)
SET IDENTITY_INSERT [dbo].[image] OFF
GO
SET IDENTITY_INSERT [dbo].[language] ON 

INSERT [dbo].[language] ([id], [name]) VALUES (1, N'Tiếng Anh')
INSERT [dbo].[language] ([id], [name]) VALUES (2, N'Tiếng Việt')
INSERT [dbo].[language] ([id], [name]) VALUES (3, N'Tiếng Nhật')
SET IDENTITY_INSERT [dbo].[language] OFF
GO
SET IDENTITY_INSERT [dbo].[publisher] ON 

INSERT [dbo].[publisher] ([id], [name], [website]) VALUES (1, N'Nhà Xuất Bản Kim Đồng', NULL)
INSERT [dbo].[publisher] ([id], [name], [website]) VALUES (2, N'NHÀ XUẤT BẢN GIÁO DỤC VIỆT NAM', N'https://www.bing.com/ck/a?!&&p=30731c92550188c5JmltdHM9MTY5NTc3MjgwMCZpZ3VpZD0wNmZmZWM1YS0yODZiLTZkZjAtM2U5Ny1mZjNlMjkwZDZjNGEmaW5zaWQ9NTE4Mg&ptn=3&hsh=3&fclid=06ffec5a-286b-6df0-3e97-ff3e290d6c4a&psq=NXB+THOI+DAU&u=a1aHR0cHM6Ly9ueGJnZC52bi8&ntb=1')
INSERT [dbo].[publisher] ([id], [name], [website]) VALUES (3, N'NHÀ XUẤT BẢN HỘI NHÀ VĂN', N'https://nxbhoinhavan.vn/')
SET IDENTITY_INSERT [dbo].[publisher] OFF
GO
SET IDENTITY_INSERT [dbo].[slider] ON 

INSERT [dbo].[slider] ([id], [back_link], [description], [image_url], [title]) VALUES (1, N'https://example.com/link1', N'Slider 1 Description', N'https://theme.hstatic.net/200000343865/1001052087/14/ms_banner_img1.jpg?v=335', N'Slider 1')
INSERT [dbo].[slider] ([id], [back_link], [description], [image_url], [title]) VALUES (2, N'https://example.com/link2', N'Slider 2 Description', N'https://theme.hstatic.net/200000343865/1001052087/14/ms_banner_img3.jpg?v=335', N'Slider 2')
INSERT [dbo].[slider] ([id], [back_link], [description], [image_url], [title]) VALUES (3, N'https://example.com/link3', N'Slider 3 Description', N'https://theme.hstatic.net/200000343865/1001052087/14/ms_banner_img5.jpg?v=335', N'Slider 3')
SET IDENTITY_INSERT [dbo].[slider] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_ehpdfjpu1jm3hijhj4mm0hx9h]    Script Date: 2023/9/28 10:17:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_ehpdfjpu1jm3hijhj4mm0hx9h] ON [dbo].[book]
(
	[isbn] ASC
)
WHERE ([isbn] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKq5b95fcqo965m2x5m7bsyvsew]    Script Date: 2023/9/28 10:17:45 ******/
ALTER TABLE [dbo].[rating] ADD  CONSTRAINT [UKq5b95fcqo965m2x5m7bsyvsew] UNIQUE NONCLUSTERED 
(
	[book_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK23j0w0ls8ramaftxntclngekj]    Script Date: 2023/9/28 10:17:45 ******/
ALTER TABLE [dbo].[wishlist] ADD  CONSTRAINT [UK23j0w0ls8ramaftxntclngekj] UNIQUE NONCLUSTERED 
(
	[book_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

GO
ALTER TABLE [dbo].[author_book]  WITH CHECK ADD  CONSTRAINT [FKg7j6ud9d32ll232o9mgo90s57] FOREIGN KEY([author_id])
REFERENCES [dbo].[author] ([id])
GO
ALTER TABLE [dbo].[author_book] CHECK CONSTRAINT [FKg7j6ud9d32ll232o9mgo90s57]
GO
ALTER TABLE [dbo].[author_book]  WITH CHECK ADD  CONSTRAINT [FKn8665s8lv781v4eojs8jo3jao] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[author_book] CHECK CONSTRAINT [FKn8665s8lv781v4eojs8jo3jao]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FK5jgwecmfn1vyn9jtld3o64v4x] FOREIGN KEY([category_id])
REFERENCES [dbo].[book_category] ([id])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK5jgwecmfn1vyn9jtld3o64v4x]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FKgtvt7p649s4x80y6f4842pnfq] FOREIGN KEY([publisher_id])
REFERENCES [dbo].[publisher] ([id])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FKgtvt7p649s4x80y6f4842pnfq]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FKmrhfp9wfi5dy4bwl87bx8ivua] FOREIGN KEY([language_id])
REFERENCES [dbo].[language] ([id])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FKmrhfp9wfi5dy4bwl87bx8ivua]
GO
ALTER TABLE [dbo].[book_collection]  WITH CHECK ADD  CONSTRAINT [FKka9jqqmcu25by7m32gihxb4rr] FOREIGN KEY([collection_id])
REFERENCES [dbo].[collection] ([id])
GO
ALTER TABLE [dbo].[book_collection] CHECK CONSTRAINT [FKka9jqqmcu25by7m32gihxb4rr]
GO
ALTER TABLE [dbo].[book_collection]  WITH CHECK ADD  CONSTRAINT [FKhrhume0ucplaek9m8pb6ild7s] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[book_collection] CHECK CONSTRAINT [FKhrhume0ucplaek9m8pb6ild7s]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [FK6xn6ah744nvjpnblisld6i3o1] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [FK6xn6ah744nvjpnblisld6i3o1]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [FKgclyi456gw0lcd6xcfj2l7r6s] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [FKgclyi456gw0lcd6xcfj2l7r6s]
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD  CONSTRAINT [FK56boxkje8rys2n78amvgkk913] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [FK56boxkje8rys2n78amvgkk913]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FKrcaf946w0bh6qj0ljiw3pwpnu] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FKrcaf946w0bh6qj0ljiw3pwpnu]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK3aceepmpjwpo8pdn7gmjdfckq] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK3aceepmpjwpo8pdn7gmjdfckq]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FKlb8mofup9mi791hraxt9wlj5u] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FKlb8mofup9mi791hraxt9wlj5u]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [FK51aeb5le008k8klgnyfaalmn] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [FK51aeb5le008k8klgnyfaalmn]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [FKi4fb9yu9ap3j0g42j0qja9b4a] FOREIGN KEY([category_id])
REFERENCES [dbo].[post_category] ([id])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [FKi4fb9yu9ap3j0g42j0qja9b4a]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK7y1acs6la7vkgb5ulm44729sc] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK7y1acs6la7vkgb5ulm44729sc]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FKnd74uqo4uhc1es0c58cr243l7] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FKnd74uqo4uhc1es0c58cr243l7]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD  CONSTRAINT [FK6e4b6ubvjarad3f5g8wqhec] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[wishlist] CHECK CONSTRAINT [FK6e4b6ubvjarad3f5g8wqhec]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD  CONSTRAINT [FK94k0l1f4gpde7nw2scncp8pp4] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])

USE [master]
GO
